.row {
  margin: 0 auto;
  width: 100%
}

.avatar-dhg {
  border-radius: 100%;
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
  border: 20px;
  border-radius: 100%;
  border: 4px solid;
  border-color: white;
}

.avatar-dhg-dave {
  border-radius: 100%;
  width: 60px;
  margin-top: -70px;
  margin-bottom: 5px;
  border: 3px;
  border-radius: 100%;
  margin-right: 1rem;
  align-self: flex-start;
  background-size: cover;
}

.imagem-background {
  height: 150px;
  background-image: url('C:/Users/JoaoMarques/Desktop/iceland.jpg');
  background-size: cover;
}

.home2 {
  background-color: deepskyblue;
  text-align: left;
  color: black;
  height: 60px;
}

.search2 {
  background-color: deepskyblue;
  text-align: right;
  color: black;
  height: 60px;
  background-size: cover;
  align-self: flex-start;
  margin-bottom: 5px;
}

.dave2 {
  color: black;
  margin-top: 10px;
}

.mensagem2 {
  color: black;
  margin-top: 10px;
  width: 100%;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.botao {
  margin-top: 10px;
  width: 25%;
  float: right;
  height: 50%;
}

.sponsor2 {
  color: black;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.texto-gamache {
  color: black;
  text-align: left;
}

.texto-jacob {
  color: black;
  text-align: left;
}

.texto-mark {
  color: black;
  text-align: left;
}

.comentario {
  color: black;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 0.5em;
  border-radius: 0 0 10px 10px;
}

.gamache {
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.mark-otto {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.jacob {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.likes {
  background-color: white;
  color: black;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.15rem;
  border-radius: 10px 10px 0 0;
}

.bootstrap {
  background-color: white;
  color: deepskyblue;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 0.5em;
  border-radius: 0.45rem;
}

.creditos {
  background-color: white;
  color: black;
  margin-top: 10px;
  margin-bottom: 0.5em;
  border-radius: 0.45rem;
}

.dave-info {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 1.5em;
  border-radius: 0.25rem;
  float: left;
  width: 100%;
}

.canada {
  text-align: left;
}

.obama {
  text-align: left;
}

.ca {
  text-align: left;
}

.wa {
  text-align: left;
}

.about {
  color: black;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 0.5em;
  border-radius: 0.25rem;
  float: left;
  width: 100%;
}

.photos {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 0.5em;
  border-radius: 0.25rem;
  float: left;
  width: 100%;
}

.ola {
  float: right;
  width: 100px;
  margin-bottom: 5px;
  border: 3px;
}

.praia {
  float: left;
  width: 100px;
  margin-bottom: 5px;
  border: 3px;
}

.estrada {
  float: left;
  width: 100px;
  margin-bottom: 5px;
  border: 3px;
}

.ponte {
  float: right;
  width: 100px;
  margin-bottom: 5px;
  border: 3px;
}

.desenho {
  float: left;
  width: 100px;
  margin-bottom: 5px;
  border: 3px;
}

.cidade {
  float: right;
  max-width: 100px;
  margin-bottom: 5px;
  border: 3px;
}

.rio {
  float: left;
  width: 60%;
  height: 100px;
}

.gruta {
  float: right;
  width: 100px;
  height: 100px;
}

.luzes {
  float: left;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.caminho {
  float: right;
  height: 100px;
  margin-top: 10px;
  width: 60%;
}

.gajo {
  width: 100%;
}

.farol {
  width: 100%;
  vertical-align: middle;
}
